ENV=dev
GIN_MODE=debug
APP_DOMAIN=localhost
APP_HOST=http://localhost:5173
API_HOST=http://localhost:8080
PORT=8080

ACCESS_TOKEN_SECRET="secret"

DB_HOST=db
DB_USERNAME=qolboard_api
DB_PASSWORD=password
DB_NAME=postgres
DB_SSLMODE="disable"

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@db:5432/postgres
GOOSE_MIGRATION_DIR=./migrations

SUPABASE_HOST="example/auth/v1"
SUPABASE_SECRET="example"
SUPABASE_PUBLISHABLE="example"
