GIN_MODE=dev
APP_DOMAIN=localhost
APP_HOST=http://localhost:5173
PORT=8080

DB_HOST=127.0.0.1
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=qolboard
DB_PORT=5432

SUPABASE_JWT_SECRET="example"
SUPABASE_HOST="example"
SUPABASE_ANON_KEY="example"